.wrapper {
  &__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__heading {
      color: var(--black, #171b1e);

      font-size: toRem(32);
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    p {
      color: #929197;
      text-align: right;

      font-size: toRem(20);
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      padding-right: toRem(11);
    }
    span {
      color: #171b1e;

      font-size: toRem(20);
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      padding-left: toRem(11);
    }
  }
  &__periodTime {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    &__header {
      font-size: toRem(14);
      font-weight: 500;
      max-width: toRem(762);
    }
  }
  &__parent {
    display: flex;
    gap: toRem(30);
    &__mainbar {
      width: 80%;
      &__card {
        display: flex;
        flex-wrap: wrap;
        width: 99%;
        border: solid toRem(2) #a5d4dc;
        background-color: rgba(233, 227, 213, 0.5);
        border-radius: toRem(20);
        margin-bottom: toRem(16);
        &__cost-defintion {
          padding: toRem(18) toRem(80);
          display: flex;
          justify-content: space-between;
          gap: toRem(64);
        }
        &__title {
          font-size: toRem(20);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          color: #171b1e;
          margin: toRem(16) 0 0 toRem(27);
        }
        &__helper-text {
          text-align: center;
          font-size: toRem(14.98);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: 0;
          margin-left: toRem(16);
        }
      }
    }

    &__side-bar {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: toRem(320);
      border: solid toRem(2) #a5d4dc;
      background-color: rgba(233, 227, 213, 0.5);
      border-radius: toRem(20);
      margin-bottom: toRem(16);
    }
    &_processing {
      border: toRem(2) #a5d4dc solid;
      border-radius: 16px;
      background-color: rgba(233, 227, 213, 0.5);
      text-decoration: none;
      margin-bottom: 16px;
      width:48%;
    }
  }

  &__Anomally {
    border: solid toRem(2) #a5d4dc;
    background-color: #fff;
    border-radius: toRem(20);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(30);
    &__title {
      width: toRem(536);
      height: toRem(40);
      background-color: #a5d4dc;
      margin-top: toRem(32);
      margin-right: toRem(24);
      clip-path: polygon(0 0, 93% 0, 100% 50%, 93% 100%, 0 100%);
      font-size: toRem(24);
      font-weight: 500;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include rtl {
        margin-right: 0;
        clip-path: polygon(0% 50%, 7% 0%, 100% 0%, 100% 100%, 7% 100%);
      }
    }
    &__Analytics {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: toRem(16);
      &__graphAnalysis {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: toRem(10);
        margin: auto 2%;
        &__analysisCard {
          border: solid toRem(2) #e9e3d5;
          background-color: rgba(233, 227, 213, 0.5);
          border-radius: toRem(20);
          padding: toRem(16);
          &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__title {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              width: toRem(260);
              &__mainTitle {
                color: #000;

                font-size: toRem(20);
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding: toRem(0);
                margin-left: toRem(8);
                width: toRem(473);
                margin: toRem(0);
              }
              &__subtitle {
                margin: toRem(0);
                color: rgba(0, 0, 0, 0.5);
                font-size: toRem(14);
                font-weight: 400;
              }
            }
          }
          // border-radius: 20px;
          // border: 2px solid var(--Color4, #a5d4dc);

          span {
            display: inline-block;
            margin-bottom: toRem(36);
            margin-top: toRem(40);
            color: #171b1e;
            font-size: toRem(24);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background-color: #a5d4dc;
            padding: toRem(10) toRem(200) toRem(10) toRem(40);
            border-top-right-radius: toRem(50);
            border-bottom-right-radius: toRem(50);
          }
        }
        &__tables {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: toRem(12);
          width: 100%;
          &__table {
            width: 50%;
            min-height: 17rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            background-color: rgba(233, 227, 213, 0.5);
            border: solid toRem(2) #e9e3d5;
            border-radius: toRem(20);
            padding: toRem(16);

            &__header {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: toRem(10);
              margin-left: toRem(8);
              p {
                font-size: toRem(18);
                font-weight: 500;
                line-height: normal;
                margin: toRem(0);
              }
            }
            &__line {
              width: 90%;
              height: toRem(1);

              background-color: #000;
            }
            &__body {
              overflow-y: scroll;
              max-height: toRem(130);
              margin-top: toRem(8);
              table {
                border: none;
                box-shadow: none;
                border-collapse: collapse;
                tbody {
                  tr {
                    height: auto;
                    background-color: transparent;
                    border-bottom: toRem(2) solid $l-d-yellow;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;

                    td {
                      font-size: toRem(10);
                      font-weight: 600;
                      width: toRem(90);
                    }
                  }
                }
              }
            }
          }
        }
      }
      &__analysis {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: toRem(16);
        margin: auto 2%;
        .analysis-table-container {
          width: 48%;
        }
        &__table {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 34rem;
          background-color: rgba(233, 227, 213, 0.5);
          border-radius: toRem(20);
          border: solid toRem(2) #e9e3d5;

          &__header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: #033043;
            color: #fff;
            padding: toRem(16);
            font-size: toRem(14);
            font-weight: 500;
            margin-bottom: auto;
            height: toRem(83);
            border-top-left-radius: toRem(20);
            border-top-right-radius: toRem(20);
          }
          &__body {
            overflow-y: scroll;
            max-height: toRem(130);
            margin-bottom: auto;
            table {
              border: none;
              box-shadow: none;
              border-collapse: collapse;
              tbody {
                tr {
                  height: toRem(40);
                  border-bottom: toRem(2) solid $l-d-yellow;
                  background-color: transparent;
                  width: 100%;
                  display: flex;
                  justify-content: space-evenly;

                  td {
                    font-size: toRem(10);
                    font-weight: 600;
                  }
                  // border-top: toRem(1) solid #E9E3D5;
                }
              }
            }
          }
        }
        &__card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: toRem(16);
          width: 14.7rem;
          // height: toRem(250);
          background-color: rgba(233, 227, 213, 0.5);
          border: solid toRem(2) #e9e3d5;
          border-radius: toRem(20);
          &__side {
            &__title {
              font-size: toRem(14);
              margin: toRem(0);
              text-transform: capitalize;
            }
            &__cardData {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: toRem(0);

              span {
                font-size: 1rem;
                font-weight: 600;
              }
              p {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .label {
                  font-size: toRem(8);
                  font-weight: 500;
                }
              }
            }
          }

          &__line {
            width: 99%;
            height: toRem(1);
            margin-bottom: toRem(8);

            background-color: #e9e3d5;
          }
        }
      }
    }
  }

}
.logs-arrow {
  @include rtl {
    transform: rotate(-180deg);
  }
}
.label {
  color: #000;
  font-size: 8px;
  font-weight: 500;
}

.btn-one {
  margin: 8px 8px 10px 10px;
  border-radius: 16px;
  border: 0.576px solid rgba(0, 0, 0, 0.5);
  background: #033043;
  color: var(--white, #fff);
  font-family: Poppins;
  font-size: 13.824px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.btn-one:focus {
  opacity: 0.8;
}
.btn-two {
  margin: 8px 8px 10px 0;
  border-radius: 16px;
  border: 0.576px solid rgba(0, 0, 0, 0.5);
  background: #f1a87f;
  display: flex;
  height: 26px;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.btn-two:focus {
  opacity: 0.8;
}
.actions {
  justify-content: space-between;
  align-items: center;
}
.status_btn {
  color: var(--gray, #717579);
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inprogress {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.genrationResult {
  color: #717579;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: $between-md-lg) and (min-width: 0px) {
  .wrapper {
    &__parent {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      &__mainbar {
        width: inherit;
        &__card {
          flex-wrap: wrap;
          &__cost-defintion {
            justify-content: center;
            flex-wrap: wrap;
            padding: toRem(18) toRem(30);
          }
        }
      }
      &__side-bar {
        width: 100%;
      }
      &_processing {
        width: 100%;
      }
    }
    &__Anomally {
      width: 95%;
      margin: auto;
      &__title {
        width: toRem(336);
        height: toRem(30);
        font-size: toRem(16);
      }
      &__Analytics {
        margin-left: toRem(0);
        width: 100%;
        &__graphAnalysis {
          width: inherit;

          &__analysisCard {
            width: 88%;
            margin-left: toRem(8);
            margin: auto;
            &__header {
              flex-wrap: wrap;
            }
          }
          &__tables {
            flex-wrap: wrap;
            justify-content: center;
            &__table {
              width: 90%;
            }
          }
        }
        &__analysis {
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          margin: 0;
          .analysis-table-container {
            width: 100%;
            justify-content:center;
          }
          &__table {
            width: 88%;
          }
          &__card {
            width: 88%;
            padding: toRem(20);
            &__side {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              width: 100%;
              &__title {
                font-size: toRem(16);
                width: inherit;
              }
              &__cardData {
                flex-direction: column;
                width: 35%;
              }
            }
          }
        }
      }
    }

  }

}
@media (max-width: $screen-xl) and (min-width: 801px) {
  .wrapper {
    &__parent {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      &__mainbar {
        width: inherit;
        &__card {
          flex-wrap: wrap;
        }
      }
      &__side-bar {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
      }
      &_processing {
        width: 100%;
      }
    }
    &__Anomally {
      &__title {
        width: toRem(336);
        height: toRem(30);
        font-size: toRem(16);
      }
      &__Analytics {
        margin-left: toRem(0);
        &__graphAnalysis {
          width: inherit;

          &__analysisCard {
            width: 88%;
            margin-left: toRem(8);
            margin: auto;
            &__header {
              flex-wrap: wrap;
            }
          }
          &__tables {
            flex-direction: row;
            justify-content: center;
            gap: toRem(8);
            &__table {
              width: 100%;
            }
          }
        }
        &__analysis {
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          .analysis-table-container {
            width: 100%;
          }
          &__table {
            width: 48%;
          }
          &__card {
            width: 48%;
            padding: toRem(20);
            &__side {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              width: 100%;
              &__title {
                font-size: toRem(16);
                width: inherit;
              }
              &__cardData {
                flex-direction: column;
                width: 35%;
              }
            }
          }
        }
      }
    }
  }
}

.logsinfo {
  font-size: toRem(13);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: $Black;
}
